.contacto-class {
    background-color: rgba(249, 249, 249, 0.508);
    color: rgb(47, 17, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
